name: Notify on Push

on:
  push:
    branches:
      - main

jobs:
  send-notification:
    runs-on: ubuntu-latest
    steps:
      - name: Send GET request
        run: |
          curl -X GET "${{ secrets.NOTIFY_URL }}"
